@import 'curriculo';

.curriculo-classico-container {
  position: relative;
  top: 0px;
  width: 100vw;
  padding-bottom: 50px;
}
.curriculo-classico { 
 font-family: Arial, Helvetica, sans-serif;
 background-color: var(--color-background);
 color: var(--color-default);
 line-height: 1;
 padding: 20px;

 position: relative;
 top: 15px;
 left: 0;
 min-width: 900px;
 width: 900px;
 max-width: 900px;
 min-height: 100%;
 margin-left: calc(50% - 900px/2);
 box-shadow: #333 0px 0px 10px;
 text-align: justify;
}
.night .curriculo-classico {
  box-shadow: #000 0px 0px 10px;
}

@media print {
  
  body {
    background-color: white !important;
  }

  .curriculo-classico-container {
    position: relative;
    top: 0px;
    width: auto;
  }
  .curriculo-classico {
    background-color: white;
    position: relative;
    top: 0px;
    left: 0;
    min-width: 900px;
    width: 900px;
    max-width: 900px;
    min-height: calc(100vh - 100px);
    margin-left: auto;
    box-shadow: none;
  }
  
  .night .curriculo-classico {
    background-color: var(--color-background);
  }

  .night .curriculo-classico {
    box-shadow: none;
  }
  .curriculo-classico .menu {  
    display: none;
  }
}

.curriculo-classico .menu {
 position: absolute;
 top: 10px;
 right: 25px;
 width: 600px;
 float: right;
}
.curriculo-classico .menu button {
  background-color: var(--color-primary);
  color: white;
  border: none;
  padding: 8px 15px;
  font-size: .8em;
  cursor: pointer;
  border-radius: 5px;
}

.curriculo-classico .menu button:hover {
  background-color: var(--color-secondary);
}

.curriculo-classico .menu .menu-item {
  display: block;
  float: right;
  margin-left: 5px;
  padding: 5px;
}

.curriculo-classico .menu .switch-icon {
 font-size: 1.2em;
 margin: 5px;
}
.curriculo-classico .menu .switch-icon-mini {
  display: inline-block;
  font-size: .8em;
  margin-top: 8px;
}

.curriculo-classico-linhas {
  position: absolute;
  top: 30px;
  left: 0;
  width: 30px;
  text-align: right;
  color: var(--color-lines);
}

.curriculo-classico-main {
  margin-left: 20px;
}

.curriculo-classico .main-tag
{
  font-size: 4em;
  font-weight: bold;
}
.curriculo-classico h2, .curriculo-classico h3 {
  color: var(--color-primary);
  font-weight: bold;
}
.curriculo-classico h2 {
  padding-top: 0em;
  margin-bottom: 0em;
  font-size: 1.8em;
}
.curriculo-classico h2 span, .curriculo-classico h3 span {
  color: var(--color-secondary);
}
.curriculo-classico h3 {
  padding-top: 2em;
  margin-bottom: -3em;
  font-size: 1em;
}
.curriculo-classico .contatos{
  padding-left: 0px;
}

.curriculo-classico .contatos a{
  color: var(--color-default);
  text-decoration: none;
  cursor: pointer;
}

.curriculo-classico .contatos a:hover{
  color: var(--color-primary);
}

.curriculo-classico .titulo .nome {
  font-size: 2em;
  font-weight: bold;
}

.curriculo-classico .titulo .resumo {
  font-size: 1.42em;
  font-weight: bold;
}


.curriculo-classico .formacao .nome {
  font-weight: bold;
}
.curriculo-classico .formacao .instituicao {
  font-weight: normal;
  font-size: .8em;
}
.curriculo-classico .formacao .formacao-item {
  margin-bottom: 10px;
}
.curriculo-classico .periodo {
  color: var(--color-secondary);
  font-size: .8em;
  font-style: italic;
  font-weight: bold;
  margin-top: 5px;
}
.curriculo-classico .formacao .periodo {
  margin-top: 3px;
}

.curriculo-classico .cursos {
  margin-top: 0px;
  padding-top: 0px;
}
.curriculo-classico .curso-item {
  margin-top: 42px;
  padding-top: 0px;
}
.curriculo-classico .experiencia .experiencia-item .nome {
  font-weight: bold;
  font-size: 1.2em;
}
.curriculo-classico .experiencia-adicional .experiencia-adicional-item .nome {
  font-weight: bold;
  font-size: 1.2em;
  width: 300px;
}
.curriculo-classico .experiencia .experiencia-item {
  margin-bottom: 1em;
}
.curriculo-classico .col2
{
  position: absolute;
  left: 40%;
}
.curriculo-classico .col3
{
  font-size: .9em;
  position: absolute;
  left: 55%;
  width: 385px;
}
.curriculo-classico .experiencia .habilidades .habilidade-item{
  font-size: .8em;
  
}
.curriculo-classico .experiencia .habilidades .habilidade-item .habilidade-titulo{
  font-weight: bold;
  color: var(--color-secondary);
}

.curriculo-classico .idiomas .idioma-item .fluencia {
  font-size: .8em;
}

.curriculo-classico .projetos {
  margin-top: 7px;
  margin-right: 0px;
}

.curriculo-classico .projetos .titulo {
  font-weight: bold;
  color: var(--color-secondary)
}
.curriculo-classico .projetos .projeto-item {
  margin-top: 7px;
  font-size: .8em;
}

.curriculo-classico .resumo-maior{
  margin-top: 10px;
  width: 850px;
  font-size: .9em;
  padding-bottom: 10px;
}